beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cors==1.0.1
filelock==3.15.1
Flask==3.0.3
future==1.0.0
gevent==24.2.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jsonify==0.5
MarkupSafe==2.1.5
packaging==24.1
pycparser==2.22
PySocks==1.7.1
requests==2.32.3
requests-file==2.1.0
setuptools==70.0.0
soupsieve==2.5
tldextract==5.1.2
urllib3==2.2.1
Werkzeug==3.0.3
zope.event==5.0
zope.interface==6.4.post2
